/*///////////////// PRE-WRITTEN CSS FROM REACT ///////////////////////*/

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*///////////////// HTML TAGS ///////////////////////*/

* {
    font-family: "Montserrat";
    font-size: 14pt;
}

button {
    background-color: #aaaaaa;
    color: #ffffff;
    border: none;
    padding: 12px;
}

input {
    font-size: 16px !important;
}

table {
    width: 100%;
    /*border: 3px solid greenyellow;*/
    border-collapse: collapse;
}

td {
    padding-right: 5%;
    /*border: 3px solid greenyellow;*/
    border-collapse: collapse;
}

/*///////////////// REPEATABLE ELEMENTS ///////////////////////*/

.page-header {
    margin-top: 18px;
    margin-bottom: 18px;
}

/*.link-to-previous-page {  Unused, can be removed
    padding-top: 18px;
    font-size: 12px !important;
    font-family: Titillium Web !important;
    color: green !important;
    text-align: left !important;
}*/

.thin-container {
    border-radius: 15px;
    border: #888888 solid 1px;
    padding: 48px;
    padding-top: 0px;
    width: 100%;
}

.thin-container-title {
    margin-top: 24px !important;
    margin-bottom: 12px !important;
}

.textbox {
    font-size: 16px !important;
    width: 100%;
}

.primary-bg {
    background-color: #00aa95;
}

.list-container {
    background-color: #aaaaaa;
}

.button-generic {
    margin-top: 24px;
    padding: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    font-family: "Questrial";
    font-size: 36px;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    background-color: #aaaaaa;
}

.button-generic:hover {
    text-decoration: none;
    color: #dddddd;
}

.button-jumbo {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 36px;
}

.button-card {
    font-size: 18px;
    font-family: "Questrial";
    background-color: #aaaaaa;
    color: #ffffff;
    border: none;
    padding: 12px;
}

.button-primary {
    background-color: #00aa00 !important;
    border-radius: 20px;
    color: #ffffff;
}

.button-secondary {
    background-color: #0000aa !important;
    border-radius: 20px;
    color: #ffffff;
}

.button-submit {
    width: 50%;
    margin-top: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    color: #ffffff;
    font-weight: bold;
}

/*///////////////// SINGLE-USE ELEMENTS ///////////////////////*/

.button-landing-page {
    width: 50% !important;
    height: auto !important;
    font-size: 24px !important;
    font-family: "Titillium Web" !important;
    border-radius: 18px !important;
    border: none !important;
}

.my-nav-link {
    white-space: nowrap;
    overflow: hidden;
    color: white;
}
.my-nav-link:hover {
    color: white;
}
.my-nav-td {
    height: 100%;
}

/*///////////////// NAVBAR ELEMENTS ///////////////////////*/
/* Styles are based on https://codepen.io/skwbr/pen/QjaBLV */
.nav-horizontal {
    background-color: #00aa95;
    overflow: hidden;
    height: 3em;
    width: 100%;
}

.nav-container {
    background-color: #00aa95;
    overflow: hidden;
    height: 3em;
    width: 100%;
    height: 5em;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.nav-list {
    background-color: #00aa95;
    overflow: hidden;
    height: 3em;
    width: 100%;
    display: inline-table;
    margin: 0 auto;
    max-width: 100%;
}

.nav-item {
    overflow: hidden;
    height: 3em;
    display: table-cell;
    margin: 0 auto;
    max-width: 100%;
}

.nav-link {
    display: inline-table !important;
    margin: 0 auto !important;
    max-width: 100% !important;
    overflow: hidden !important;
    height: 3em !important;
    width: 100% !important;
    display: block !important;
    padding: 0 1em !important;
    text-decoration: none !important;
    color: #ffffff !important;
    height: 3em !important;
    line-height: 3 !important;
}
.nav-link:hover {
    text-decoration: none !important;
    border-bottom: 3px solid white !important;
}

/*///////////////// FOOTER ELEMENTS ///////////////////////*/
.footer-horizontal {
    background-color: #00aa95;
    overflow: hidden;
    height: 2em;
    width: 100%;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.footer-container {
    background-color: #00aa95;
    overflow: hidden;
    height: 3em;
    width: 100%;
    height: 2em;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 0px !important;
}
.footer-item {
    display: inline-table !important;
    margin: 0 auto !important;
    max-width: 100% !important;
    overflow: hidden !important;
    height: auto !important;
    width: 100% !important;
    display: block !important;
    padding: 0 0.5em !important;
    text-decoration: none !important;
    color: #ffffff !important;
    height: 2em !important;
    line-height: 3 !important;
    font-size: 12px !important;
}
.footer-item:hover {
    text-decoration: none !important;
}
.footer-list {
    background-color: #00aa95;
    overflow: hidden;
    height: 2em;
    width: 100%;
    display: inline-table;
    margin: 0 auto;
    max-width: 100%;
}

/*///////////////// GeneralSignupForm ELEMENTS ///////////////////////*/
.td-option-for-signup {
    border-bottom: 6px solid #00aa95 !important;
    padding: 0px !important;
}
.image-option-for-signup {
    width: 100% !important;
    margin: 0px !important;
    filter: opacity(60%);
}
.td-option-for-signup:hover {
    border-bottom: 6px solid #ffffff !important;
}
.image-option-for-signup:hover {
    width: 100%;
    filter: opacity(100%);
}
.div-option-for-signup {
    height: 100% !important;
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    color: black !important;
}
.div-option-for-signup:hover {
    background-color: #00aa95;
    color: white !important;
}
.link-option-for-signup {
    height: 100% !important;
    width: 100% !important;
    color: white !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.link-option-for-signup:hover {
    text-decoration: none !important;
}