/*Primary color for the app: #00aa95 */
/*///////////////// PRE-WRITTEN CSS FROM REACT ///////////////////////*/

.App {
    text-align: center;
    min-height: 100vh;
    margin-bottom: 0px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*///////////////// HTML TAGS ///////////////////////*/

* {
    font-family: "Montserrat";
    font-size: 14pt;
}

button {
    background-color: #aaaaaa;
    color: #ffffff;
    border: none;
    padding: 12px;
}

input {
    font-size: 16px !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/*///////////////// REPEATABLE ELEMENTS ///////////////////////*/

.page-header {
    margin-top: 12px;
    margin-bottom: 18px;
}
.paragraph {
    margin-top: 6px;
    margin-bottom: 6px;
}

/*.link-to-previous-page {  Unused, can be removed
    padding-top: 18px;
    font-size: 12px !important;
    font-family: Titillium Web !important;
    color: green !important;
    text-align: left !important;
}*/

.thin-container {
    border-radius: 15px;
    border: #888888 solid 1px;
    padding: 48px;
    padding-top: 0px;
    width: 100%;
}

.thin-container-title {
    margin-top: 24px !important;
    margin-bottom: 12px !important;
}

.textbox {
    font-size: 16px !important;
    width: 100%;
}

.td-textbox-left-side {
    padding-right: calc(10px + 0.4vmin);
}
.td-textbox-right-side {
    padding-left: calc(10px + 0.4vmin);
}


.primary-bg {
    background-color: #00aa95 !important;
}

.light-gray-bg {
    background-color: #c0c0c0 !important;
}

.bold {
    font-weight: bold;
}

.button-generic {
    margin-top: 24px;
    padding: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    font-family: "Questrial";
    font-size: 36px;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    background-color: #aaaaaa;
}

.button-generic:hover {
    text-decoration: none;
    color: #dddddd;
}

.button-jumbo {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 36px;
}

.button-card {
    font-size: 18px;
    font-family: "Questrial";
    background-color: #aaaaaa;
    color: #ffffff;
    border: none;
    padding: 12px;
}

.button-primary {
    background-color: #00aa00 !important;
    border-radius: 20px;
    color: #ffffff;
}

.button-secondary {
    background-color: #0000aa !important;
    border-radius: 20px;
    color: #ffffff;
}
.button-minor {
    padding: 6px 18px 6px 18px;
    margin-top: 12px;
    margin-bottom: 18px;
    font-size: 14px;
    background-color: #8888aa;
    border-radius: 20px;
    color: #ffffff;
}

.button-submit {
    width: 50%;
    margin-top: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    color: #ffffff;
    font-weight: bold;
}

/*///////////////// LANDING & NAV BAR ELEMENTS ///////////////////////*/

.button-landing-page {
    width: 50% !important;
    height: auto !important;
    font-size: 24px !important;
    font-family: "Titillium Web" !important;
    border-radius: 18px !important;
    border: none !important;
}

.nav-link {
    white-space: nowrap;
    overflow: hidden;
    color: white;
}
.nav-link:hover {
    color: white;
}
.nav-td {
    height: 100%;
}

/* Styles are based on https://codepen.io/skwbr/pen/QjaBLV */
.nav-horizontal {
    background-color: #00aa95;
    overflow: hidden;
    min-height: 8vh;
    max-height: 3em;
    width: 100%;
}

.nav-container {
    background-color: #00aa95;
    overflow: hidden;
    height: 5em;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.nav-list {
    background-color: #00aa95;
    overflow: hidden;
    height: 3em;
    width: 100%;
    display: inline-table;
    margin: 0 auto;
    max-width: 100%;
}

.nav-item {
    overflow: hidden;
    height: 3em;
    display: table-cell;
    margin: 0 auto;
    max-width: 100%;
}

.nav-link {
    display: inline-table !important;
    margin: 0 auto !important;
    max-width: 100% !important;
    overflow: hidden !important;
    height: 3em !important;
    width: 100% !important;
    display: block !important;
    padding: 0 1em !important;
    text-decoration: none !important;
    color: #ffffff !important;
    height: 3em !important;
    line-height: 3 !important;
}
.nav-link:hover {
    text-decoration: none !important;
    border-bottom: 3px solid white !important;
}

/*///////////////// FOOTER ELEMENTS ///////////////////////*/
.footer-container {
    background-color: #222222;
    height: 2em;
    width: 100%;
    position: relative;
    bottom:0;
    margin-bottom: 0px;
    padding-left: 10vw;
}
.footer-text {
    color: #ffffff;
    height: 2em;
    font-size: 12px;
}

/*///////////////// GeneralSignupForm ELEMENTS ///////////////////////*/
.td-option-for-signup {
    border-bottom: 6px solid #00aa95 !important;
    padding: 0px !important;
}
.image-option-for-signup {
    width: 80% !important;
    margin: 0px !important;
    filter: opacity(100%);
}
.image-option-for-signup:hover {
    width: 100%;
    filter: opacity(100%);
}
.div-option-for-signup {
    height: 100% !important;
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    color: black !important;
    border: 1px solid #888888;
}
.div-option-for-signup:hover {
    background-color: #00aa95;
    color: white !important;
}
.link-option-for-signup {
    height: 100% !important;
    width: 100% !important;
    color: white !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.link-option-for-signup:hover {
    text-decoration: none !important;
}

/*///////////////// AppointmentScheduler ELEMENTS ///////////////////////*/
.td-appointment,
.th-appointment {
    font-size: calc(1.5vh+1.5vw);
    border: 1px solid #888888;
    text-align: center;
}
.th-appointment {
    background-color: #32bbaa;
    color: black;
}
.td-appointment-open {
    background-color: #efefef;
    border: 1px solid #bbbbbb;
    font-weight: bold;
    color: black;
}
.td-appointment-open:hover {
    cursor: pointer;
    background-color: #fff;
}
.td-appointment-taken {
    background-color: #bbb;
    color: #666;
}

/*///////////////// MODAL POPUP ELEMENTS ///////////////////////*/
/* Styles are based on https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal-scrim {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 0;
    border: 1px solid #888;
    width: calc(65% + 2vmin) !important;
    max-width: calc(65% + 2vmin);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*animation-name: animatetop;
    animation-duration: 1s;*/
}

/* The Close Button */
.modal-close-button {
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.modal-close-button:hover,
.modal-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10%;
    color: white;
    text-align: left;
}

.modal-header-text {
    font-size: 32px;
    font-weight: bold;
    font-family: "Montserrat";
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/*///////////////// TOOLTIP ELEMENTS ///////////////////////*/
/* Styles are based on https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip text */
.tooltip-text {
    visibility: hidden;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    color: #fff;
    text-align: center;
    padding: 4px 1em !important;
    border-radius: 6px;
    position: absolute !important;
    z-index: 1 !important;
    font-family: Questrial;
    font-size: 16px;
}
.tooltip-text-left {
    right: 95%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.td-appointment-open:hover .tooltip-text {
    visibility: visible;
}
.td-appointment-taken:hover .tooltip-text {
    visibility: visible;
}


/*///////////////// CHAT ELEMENTS ///////////////////////*/
.chat-primary-container {
    margin-left: 10vmax;
    margin-right: 10vmax;
}
.chat-table-container {
    border: 1px solid #666666;
}
.chat-conversation-container {
    width: 20vmax;
    height: 100%;
    max-height: 60vh;
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow-y:auto; /*Scrollable*/
}
.chat-online-container {
    margin: 0;
    min-height: 30vh;
    max-height: 60vh;
    min-width: 20%;
    max-width: 20%;
    background-color: #dadada;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.chat-online-sub-container {
    max-height: 40vh;
    overflow-y:auto; /*Scrollable*/
}
.chat-viewport-container {
    max-height: 60vh;
    margin: 0px;
    background-color: #f2f2f2;
}
.message-container {
    height: 90%;
    background-color: #f2f2f2;
    top: 0px;
    padding-top: auto;
    padding-bottom: auto;
    overflow-y:auto; /*Scrollable*/
}
.chatbar-container {
    height: 10%;
    background-color: #dddddd;
}
#chatBar {
    font-size: 75% !important;
    border: none;
    background-color: white;
    border-radius: 10px;
    width: 98%;
    height: 85% !important;
}
#chatSendButtonContainer {
    width: 18%;
}
#chatSendButton {
    font-size: 80% !important;
    font-weight: bold;
    text-align: center;
    height: 100% !important;
    color: white;
    background-color: #4093da;
    border-radius: 10px;
    padding: 6px 20% 6px 20%;
    cursor: pointer;
}

/*///////////////// MESSAGE ELEMENTS ///////////////////////*/
.message-header {
    font-size: 10px;
    width: auto;
    margin-top: 2px;
    margin-bottom: 0px;
}
.message {
    font-size: 16px;
    width: auto;
    color: #111111;
    border-radius: 10px;
    padding: 2px 2px 2px 6px;
    margin-bottom: 2px;
}
.received {
    text-align: left;
    margin-left: 6px;
    margin-right: 53%;
}
.sent {
    text-align: right;
    margin-left: 53%;
    margin-right: 6px;
}
.message-received {
    background-color: #6fa9db;
    padding-left: 8px;
}
.message-sent {
    background-color: #b2e5df;
    padding-right: 8px;
}

/*///////////////// CONVERSATION CARD ELEMENTS ///////////////////////*/
.conv-card-container {
    border: 1px solid #bbaaaaaa;
    background-color: #dedede;
    cursor: pointer;
    max-width: 106%
}
.conv-unread-indicator {
    height: 1em;
    padding: 0.15em;
}
.conv-number-unread {
    font-size: 20px;
    font-family: "Montserrat";
    border-radius: 40%;
    color: white;
    padding: 0.8em;
    padding-left: 0.45em;
    margin-left: 0.25em;
    height: 1.5em;
    width: 1.5em;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.conv-is-read {
    background-color: #00000000;
}
.conv-has-unread {
    background-color: #2255ee;
}
.conv-title:hover .conv-unread-indicator {
    background-color: white;
}
.conv-title {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: bold;
    padding: 0.25em;
    text-align: left;
}
#buttonNewConversation {
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #bcbcbc;
    cursor: pointer;
}

/*///////////////// CONVERSATION POPUP ELEMENTS ///////////////////////*/
.button-popup-confirmation {
    padding: 6px 18px 6px 18px;
    margin-top: 12px;
    margin-bottom: 18px;
}
.label-conv-popup {
    font-size: 16px;
    margin: 18px 10% 0px 10%;
    text-align: center;
}
.input-conv-popup {
    margin: 0px 30px 18px 30px;
    text-align: center;
    width: calc(100%-60px);
    max-width: calc(100%-60px);
}
.modal-close-button-text {
    text-align: right;
    font-size: 16px;
    font-weight: thin;
    padding-right: 30px;
    cursor: pointer;
}

/*///////////////// ONLINE/OFFLINE ELEMENTS ///////////////////////*/
.online-card-container {
    max-width: 100%;
    background-color: #f2f2f2;
}
.online-status-icon-container {
}
.online-title {
    text-align: left;
    overflow-x: hidden;
}
.online-status-icon {
    min-height: 16px;
    min-width: 16px;
    max-height: 4%;
    max-width: 4%;
}

/*///////////////// DOCTOR/PACKAGE SEARCH ELEMENTS ///////////////////////*/
.card-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 1vmax !important;
    width: 100% !important;
}
#searchBar {
    border: 1px solid #aaaaaa;
    background-color: white;
    height: 42px;
    margin: 0px 2% 0px 0px !important;
    padding-left: 12px;
    padding-right: 6px;
    width: 98% !important;
    border-radius: 20px;
}
#searchButton {
    font-size: 18px;
    font-family: "Questrial";
    color: #ffffff;
    border: none;
    padding: 8px 2px 8px 2px !important;
    width: 100%;
}
.td-align-left {
    margin-left: 0px !important;
    padding-left: 0px !important;
    left: 0px;
}


/*///////////////// INSURANCE PACKAGE ELEMENTS ///////////////////////*/
.insurance-package-drawer {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    margin-top: 3em;
    padding-left: 4px;
    max-height: 91vh;
    min-width: 35vw;
    max-width: 45vw;
    background-color: #eeeeee;
}